<?xml version="1.0"?>
<log4net>
  <!-- Laptu RollingFileAppender-->
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="EVRY.SSP.Web.WebHost.log" />
    <encoding value="utf-8" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] [%-5level] %message%newline" />
    </layout>
  </appender>

  <!-- Laptu DebugAppender-->
  <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
    <immediateFlush value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%-5level] %message%newline" />
    </layout>
  </appender>

  <root>
    <!-- Set the level of logging here (i.e. ALL, DEBUG, ERROR, INFO etc) -->
    <level value="ALL" />

    <!-- Add appenders that should handle the logging, multiple can be used at the same time -->
    <appender-ref ref="RollingLogFileAppender" />
    <appender-ref ref="DebugAppender" />
  </root>
</log4net>




