<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="sharepointConnections" type="EVRY.SSP.Common.Configuration.SharePointConfiguration, EVRY.SSP.Common" />
  </configSections>
  <system.web>
    <securityPolicy>
    <trustLevel name="Full" policyFile="internal"/>
  </securityPolicy>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
        <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
	</modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Hosting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!-- WCF Bindings -->
  <!-- Mail settings -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Self-Service &lt;selfservice.noreply@fagerhult.com&gt;">
        <network host="localhost" port="25" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- Service settings-->
  <appSettings>
    <add key="FileRoot" value="wwwroot" />
    <add key="CorsDomain" value="https://teamrooms.evry.com"/> 
    <add key="TeamRooms_CloudServiceApiPassword" value="4d7aRLyCMOqL" />
    <add key="TeamRooms_ProjectsDataSource" value="Projects.csv" />
    <add key="SelfService_RedirectUrl" value="https://group.fagerhult.net/selfservice/Pages/start-local.aspx#/selfservice/dialog/{0}/{1}"/>
    <add key="SelfService_BaseUrl" value="https://localhost/api/redirect/{0}/{1}"/>
    <add key="UserDetails_APIURL" value="http://139.118.167.201:20215/selfservicesweden/UserDetails/user/"/>
    <add key="Any4mUsername" value="EVRY\admin1"/>
    
    <add key="Any4mTenantGuid" value="3dc7909a-5a3e-429b-aea2-2be473659f9c"/>

    <add key="TicketLinkHref" value="https://teamrooms.evry.com/collaboration/4274/SitePages/Home.aspx?ticketId={0}"/>

    <add key="TicketHRLinkHref" value="https://teamrooms.evry.com/collaboration/4274/SitePages/HomeHR.aspx?ticketId={0}"/>

    <add key="TicketNOLinkHref" value="https://teamrooms.evry.com/collaboration/4016/SitePages/startpage.aspx?ticketId={0}"/>

    <add key="TicketLinkTitle" value="link to ticket"/>
    <add key="SmtpAddress" value="scanse.corp.corpcommon.com" />

    <add key="SmtpFrom" value="selfservice.internal.se@evry.com" />

    <add key="SmtpForceTo2" value="Jenny.Lindh@evry.com" />

    <add key="SmtpForceTo3" value="rickard.nilsson@evry.com" />

    <add key="ADGroups" value="['SP Selfservice HR', 'SE-857-Users']" />
    <add key="Domain" value="CORP" />
    <add key="dbhome" value="e:/SelfServiceData/" />
    <add key="FirstId" value="100" />
    <add key="AdminUsername" value="tradmin" />
      <add key="ExchangeIntegrationEnabled" value="true" />

  </appSettings>
  <!-- Database connections-->
  <connectionStrings>
   <add name="SspDbContext" connectionString="Data Source=CCDAP310\SQLEXPRESS;Initial Catalog=selfservice;User Id=sa;Password=sVef#hu8;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
 
 </connectionStrings>
  <!-- SharePoint connections-->
  <sharepointConnections>
    <add name="SspSpContext" url="https://group.fagerhult.net/selfservice" username="fagerhult\svc-SP201301-Farm" password="Sapore321!"/>
  </sharepointConnections>
</configuration>
